* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 24px;
}

body {
  background-color: #cde8f1;
}

main {
  font-family: sans-serif;
}

.content {
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.hero-container {
  flex: 4;

  display: flex;

  width: fit-content;
  max-width: 100%;
  margin: 0 auto;

  padding: 20px;
  background-image: url('bg.jpg');
  background-repeat: repeat;
  border-radius: 10px;
}
.hero-container__image {
  max-height: 80vh;
  max-width: 100%;
}

.details-container {
  flex: 1;
  width: fit-content;

  margin: 0 auto;

  display: flex;
  gap: 40px;
  justify-content: center;

  color: #2a3d66;

  flex-direction: column;
  @media (min-width: 400px) {
    flex-direction: row;
  }
}
.details {
  flex: 1;
  background: white;
  border-radius: 10px;
  padding: 20px;
}
.details h2 {
  font-family: 'Courgette', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.details p {
  font-size: 1.2rem;
}

.info {
  flex: 1;
  border-radius: 10px;
  padding: 20px;

  font-size: 1.2rem;
  text-align: center;
}
.info p {
  margin-bottom: 10px;
}

.rsvp-link {
  display: block;;
  margin-top: 10px;
  font-family: 'Courgette', sans-serif;
  font-size: 1.5rem;

  background-color: white;
  color: #2a3d66;
  border: #2a3d66 2px solid;
  border-radius: 10px;
  padding: 10px;

  text-decoration: none;

  transition: background-color 0.2s, color 0.2s;
}
.rsvp-link:hover {
  background-color: #2a3d66;
  color: white;
}

/* utils */

.confetti-bg {
  background-image: url('confetti-bg.jpg');
  background-position: left;
  background-size: 300px;
}